@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-monserrat: "Montserrat", system-ui, "Segoe UI", Roboto, sans-serif;
  --font-dm-sans: "DM Sans", system-ui, "Segoe UI";
}

:root {
  @apply box-border h-screen w-screen overflow-hidden font-monserrat;

  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply border border-solid border-red-600;
}

button {
  @apply w-fit cursor-pointer bg-amber-200;
}

html,
body {
  @apply max-h-full max-w-full;
}

#root {
  @apply flex h-dvh max-h-dvh w-dvw max-w-dvw grow flex-col;
}
