@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-monserrat: "Montserrat", system-ui, "Segoe UI", Roboto, sans-serif;
  --font-dm-sans: "DM Sans", system-ui, "Segoe UI";
}

:root {
  @apply font-monserrat;

  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 p-0;
}

#root {
  @apply m-0 box-border flex min-h-svh max-w-full flex-col text-center;
}

* {
  @apply border border-solid border-red-600;
}

button {
  @apply w-fit cursor-pointer bg-amber-200;
}
